<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Space Uay - Sua casa no espaço</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="stars"></div>
  <div class="container">

    <header>
      <img src="/img/banner.webp" alt="Space Uay Banner">
    </header>

    <nav class="navbar">
      <img src="/img/logo.gif" alt="Logo">
      <a href="/">Início</a>
      <a href="/catalogo">Catálogo</a>
      <a href="/login">Login</a>
      <a href="/cadastro">Cadastrar</a>
      <a href="/anuncio">Anuncie</a>
      <a href="/editorial">Editorial</a>
      <a href="/carrinho">Carrinho</a>

    </nav>

    <table class="main-content">
      <tr>
        <td class="sidebar">
          <h3>🪐 Categorias</h3>
          <ul>
            <li><a href="#">Exoplanetas</a></li>
            <li><a href="#">Estações Orbitais</a></li>
            <li><a href="#">Lotes Lunares</a></li>
          </ul>
        </td>
        <td class="content">
          <h2>🏠 Imóveis em destaque</h2>
          <img src="https://via.placeholder.com/300x200.png?text=Casa+em+Kepler-22b" alt="Imagem do imóvel">
          <p>Linda casa com vista para três sóis. Ótima oportunidade para começar a vida fora da Terra. 6 quartos,
            gravidade artificial e internet interestelar de 1Gbps.</p>
          <button class="retro-button">Adicionar ao Carrinho</button>
          <img src="/img/casanaplanta.jpg" alt="Imagem do imóvel">
          <p>Casa na planta ainda no planeta Makemake. Perfeito para quem busca um lar em um ambiente tranquilo e preza pelo frio.</p>
          <button class="retro-button">Adicionar ao Carrinho</button>
          <img src="https://via.placeholder.com/300x200.png?text=Casa+em+Kepler-22b" alt="Imagem do imóvel">
          <p>Linda casa com vista para três sóis. Ótima oportunidade para começar a vida fora da Terra. 6 quartos,
            gravidade artificial e internet interestelar de 1Gbps.</p>
          <button class="retro-button">Adicionar ao Carrinho</button>
        </td>
        <td class="sidebar">
          <h3>Anuncio</h3>
          <div class="imgAnuncio">
            <img src="/img/astronauta.gif">
          </div>
        </td>
      </tr>
    </table>

    <footer>
      <p>&copy; 2005 - 2025 Space Uay Intergalactic Real Estate</p>
    </footer>

  </div>
</body>

</html>