<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login - Space Uay</title>
  <link rel="stylesheet" href="/style.css">
</head>


<body>
  <div class="stars"></div>
  <div class="container">

    <header>
      <img src="https://via.placeholder.com/728x90.png?text=Space+Uay+Login" alt="Login Banner">
    </header>

    <nav class="navbar">
      <img src="/img/logo.gif" alt="Logo">
      <a href="/">Início</a>
      <a href="/catalogo">Catálogo</a>
      <a href="/login">Login</a>
      <a href="/cadastro">Cadastrar</a>
      <a href="/anuncio">Anuncie</a>
      <a href="/editorial">Editorial</a>
      <a href="/carrinho">Carrinho</a>
    </nav>

    <main class="content">
      <h2>🔐 Login bem sucedido no Space Uay</h2>
        <p>Você já pode acessar o catálogo de imóveis e começar a explorar as melhores ofertas do universo!</p>
        <p>Obrigado por se juntar à nossa comunidade intergaláctica!</p>
        <p>se voce nao for redirecionado a pagina inicial em 5 segundos clique <a href="/">aqui</a></p>
    </main>

    <footer>
      <p>&copy; 2005 - 2025 Space Uay Intergalactic Real Estate</p>
    </footer>

    <script>
    setTimeout(() => {
      window.location.href = '/'; 
    }, 3000); // 3 segundos
    </script>



  </div>

</body>

</html>